.marktext-source-editor.cm-editor {
  background: transparent;
  height: auto;
}

.marktext-source-editor .cm-scroller {
  overflow: visible;
  font-family: inherit;
}

.marktext-source-editor .cm-content {
  min-height: 1.2em;
  caret-color: auto;
}

.marktext-source-editor .cm-line {
  padding: 0 4px;
}

.marktext-source-editor .cm-selectionBackground,
.marktext-source-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
  background: rgb(178, 215, 254);
}

.marktext-source-editor .cm-cursor {
  border-left: 1px solid black;
}

.marktext-source-editor .cm-gutters {
  border-right: 1px solid #ddd;
  background-color: transparent;
}

.marktext-source-editor .cm-lineNumbers .cm-gutterElement {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.marktext-source-editor[data-theme="default"] .cm-header {
  color: blue;
}

.marktext-source-editor[data-theme="default"] .cm-quote {
  color: #090;
}

.marktext-source-editor[data-theme="default"] .cm-keyword {
  color: #708;
}

.marktext-source-editor[data-theme="default"] .cm-atom {
  color: #219;
}

.marktext-source-editor[data-theme="default"] .cm-number {
  color: #164;
}

.marktext-source-editor[data-theme="default"] .cm-def {
  color: #00f;
}

.marktext-source-editor[data-theme="default"] .cm-comment {
  color: #a50;
}

.marktext-source-editor[data-theme="default"] .cm-string {
  color: #a11;
}

.marktext-source-editor[data-theme="default"] .cm-meta {
  color: #555;
}

.marktext-source-editor[data-theme="default"] .cm-builtin {
  color: #30a;
}

.marktext-source-editor[data-theme="default"] .cm-bracket {
  color: #997;
}

.marktext-source-editor[data-theme="default"] .cm-tag {
  color: #170;
}

.marktext-source-editor[data-theme="default"] .cm-attribute,
.marktext-source-editor[data-theme="default"] .cm-link {
  color: #00c;
}

.marktext-source-editor[data-theme="default"] .cm-error {
  color: #f00;
}

.marktext-source-editor[data-theme="default"] .cm-matchingBracket {
  color: #0b0;
}

.marktext-source-editor[data-theme="default"] .cm-nonmatchingBracket {
  color: #a22;
}

.marktext-source-editor[data-theme="one-dark"].cm-editor {
  color: #abb2bf;
  background-color: #282c34;
}

.marktext-source-editor[data-theme="one-dark"] .cm-selectionBackground,
.marktext-source-editor[data-theme="one-dark"].cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
  background-color: #3e4451;
}

.marktext-source-editor[data-theme="one-dark"] .cm-gutters {
  border: none;
  background-color: #282c34;
}

.marktext-source-editor[data-theme="one-dark"] .cm-lineNumbers .cm-gutterElement {
  color: #5c6370;
  background-color: transparent;
}

.marktext-source-editor[data-theme="one-dark"] .cm-content {
  color: #abb2bf;
  background-color: transparent;
}

.marktext-source-editor[data-theme="one-dark"] .cm-cursor {
  border-left: 2px solid #56b6c2;
}

.marktext-source-editor[data-theme="one-dark"] .cm-matchingBracket {
  border-bottom: 2px solid #56b6c2;
  color: #abb2bf;
  background-color: transparent;
}

.marktext-source-editor[data-theme="one-dark"] .cm-nonmatchingBracket {
  border-bottom: 2px solid #e06c75;
  color: #abb2bf;
  background-color: transparent;
}

.marktext-source-editor[data-theme="one-dark"] .cm-activeLine {
  background-color: rgba(153, 187, 255, 0.04);
}

.marktext-source-editor[data-theme="one-dark"] .cm-header,
.marktext-source-editor[data-theme="one-dark"] .cm-variable,
.marktext-source-editor[data-theme="one-dark"] .cm-tag,
.marktext-source-editor[data-theme="one-dark"] .cm-builtin,
.marktext-source-editor[data-theme="one-dark"] .cm-error {
  color: #e06c75;
}

.marktext-source-editor[data-theme="one-dark"] .cm-quote,
.marktext-source-editor[data-theme="one-dark"] .cm-comment {
  color: #5c6370;
  font-style: italic;
}

.marktext-source-editor[data-theme="one-dark"] .cm-strong,
.marktext-source-editor[data-theme="one-dark"] .cm-attribute,
.marktext-source-editor[data-theme="one-dark"] .cm-atom,
.marktext-source-editor[data-theme="one-dark"] .cm-number {
  color: #d19a66;
}

.marktext-source-editor[data-theme="one-dark"] .cm-def {
  color: #e5c07b;
}

.marktext-source-editor[data-theme="one-dark"] .cm-em,
.marktext-source-editor[data-theme="one-dark"] .cm-keyword {
  color: #c678dd;
}

.marktext-source-editor[data-theme="one-dark"] .cm-link,
.marktext-source-editor[data-theme="one-dark"] .cm-string {
  color: #98c379;
}

.marktext-source-editor[data-theme="one-dark"] .cm-property,
.marktext-source-editor[data-theme="one-dark"] .cm-operator {
  color: #56b6c2;
}

.marktext-source-editor[data-theme="one-dark"] .cm-punctuation,
.marktext-source-editor[data-theme="one-dark"] .cm-meta,
.marktext-source-editor[data-theme="one-dark"] .cm-bracket {
  color: #abb2bf;
}

.marktext-source-editor[data-theme="railscasts"].cm-editor {
  background: #2b2b2b;
  color: #f4f1ed;
}

.marktext-source-editor[data-theme="railscasts"] .cm-selectionBackground,
.marktext-source-editor[data-theme="railscasts"].cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
  background: #272935;
}

.marktext-source-editor[data-theme="railscasts"] .cm-gutters {
  background: #2b2b2b;
  border-right: 0;
}

.marktext-source-editor[data-theme="railscasts"] .cm-lineNumbers .cm-gutterElement {
  color: #5a647e;
}

.marktext-source-editor[data-theme="railscasts"] .cm-cursor {
  border-left: 1px solid #d4cfc9;
}

.marktext-source-editor[data-theme="railscasts"] .cm-comment {
  color: #bc9458;
}

.marktext-source-editor[data-theme="railscasts"] .cm-atom,
.marktext-source-editor[data-theme="railscasts"] .cm-number,
.marktext-source-editor[data-theme="railscasts"] .cm-link {
  color: #b6b3eb;
}

.marktext-source-editor[data-theme="railscasts"] .cm-property,
.marktext-source-editor[data-theme="railscasts"] .cm-attribute,
.marktext-source-editor[data-theme="railscasts"] .cm-variable {
  color: #a5c261;
}

.marktext-source-editor[data-theme="railscasts"] .cm-keyword,
.marktext-source-editor[data-theme="railscasts"] .cm-tag {
  color: #da4939;
}

.marktext-source-editor[data-theme="railscasts"] .cm-string {
  color: #ffc66d;
}

.marktext-source-editor[data-theme="railscasts"] .cm-def {
  color: #cc7833;
}

.marktext-source-editor[data-theme="railscasts"] .cm-error {
  background: #da4939;
  color: #d4cfc9;
}

.marktext-source-editor[data-theme="railscasts"] .cm-bracket {
  color: #f4f1ed;
}

.marktext-source-editor[data-theme="railscasts"] .cm-matchingBracket {
  text-decoration: underline;
  color: white;
}

.marktext-source-editor[data-theme="railscasts"] .cm-activeLine {
  background: #303040;
}
